.extras {
  padding-left: 20px;
  padding-right: 20px;
}

.extras__title {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extras__list {
  .order-reset();
  border-top: 1px solid #f2f2f2;
}

.extras__item {
  padding-top: 14px;
  padding-bottom: 17px;
  color: #000000;
  border-bottom: 1px solid #f2f2f2;
}

.extras__item-wrapper {
  margin-top: 15px;
  margin-bottom: 14px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extras__item-name {
  font-size: 16px;
  line-height: 16px;
}
