.order__title {
  margin: 0;
  padding-top:30px;
  padding-bottom: 14px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.order__form-type {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 23px;
  border: none;
  border-bottom: 1px solid #ededed;
  &:nth-of-type(3),
  &:last-of-type {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  &:last-of-type {
    padding-bottom: 34px;
  }
}

.order__form-legend {
  margin: 0;
  margin-bottom: 40px;
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.order__form-list {
  .order-reset();
}

.order__form-notice {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__submit-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
