.toggle__controls {
  text-align: center;
}

.toggle__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.toggle__button {
  padding: 0;
  margin: 39px 18px;
}
